*{
    margin: 0px;
    padding: 0px;
}

body{
margin: 0 auto;
width: 50vw;
height: 50vh;
}

#contenedor{
width: 50vw;
height: 50vh;
}

#exterior{
    margin: 4px;
    padding: 5px;
    
}

#logueo{
    border: 4px dotted #000000;
    background-color: #c4baba;
}