/*generales*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0 auto;
    width: 640px;
    height: 360px;
}

/**/

#imagen{
    margin-top: 20vh;
    width: 640px;
    height: 360px;
    background-image: url('../img/img1.jpg');
    background-size: cover; /*ajusta la imagen para que ocupe todo el contenedor*/
    background-repeat: no-repeat;/*evita que se repita*/
    background-position: center;/*centra la imagen*/   
}

.desplazamiento{
    width: 5vh;
    height: 5vh;    
}

.interiorImagen{
    margin-top: 30vh;
}

#izquierda{
    float: left;
}
#derecha{
    float: right;
}